.main {
    /* border: 1px solid red; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0px;
    z-index: 1000;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.left {
    border: 0px solid blue;
    padding: 20px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.right {
    border: 0px solid blue;
    padding: 20px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}
