@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
    text-align: center;
}


* {
    font-family: Quicksand, Helvetica Neue, Arial;
    font-family: 'Josefin Sans', sans-serif;
}
