.main {
    /* border: 2px solid red; */
}
.main_one {
    width: 85%;
    margin: 20px auto;
}
.main_two {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    margin: 80px auto;
}

.main_three {
    width: 85%;
    margin: 40px auto;
}

.main_four {
    background-color: #f2f2f2;
    margin: 70px auto;
    padding: 50px 0px;
}
.main_four > h2 {
    font-size: 30px;
    font-weight: 600;
}
.four_one {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 80%;
    margin: 21px auto 0px auto;
}
.one_one {
    /* border: 1px solid red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.one_img {
    /* border: 1px solid green; */
    border-radius: 50%;
    padding: 20px;
    background-color: #fff;
    width: 120px;
    height: 120px;
    transition: all 0.3s ease-in-out;
}
.one_img:hover {
    transform: scale(0.9);
}

.one_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.one_one > h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 14px auto;
}
.one_one > P {
    font-size: 16px;
    font-weight: 400;
    margin: 0px auto 7px auto;
}
.four_two {
    margin: 21px auto 0px auto;
    background-color: #85004b;
    border: 2px solid #85004b;
    padding: 8px 21px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.four_two:hover {
    background-color: #fff;
    color: #85004b;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main_five {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_five > img {
    width: 40%;
}
.five_right {
    /* border: 1px solid green; */
    width: 40%;
    text-align: left;
}

.five_right > h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 21px auto;
}
.five_right > p {
    font-size: 18px;
    font-weight: 400;
}

.five_img {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 21px 0px;
}
.five_img > img {
    width: 45%;
    transition: all 0.3s ease-in-out;

    cursor: pointer;
}
.five_img > img:hover {
    transform: scale(0.9);
}
